/* font size media query */
@media screen and (max-width:900px) {
    html{
        font-size: 56.25%;
    }
}
@media screen and (max-width:700px) {
    html{
        font-size: 43.75%;
    }
}
/* font size media ends here */


@media screen and (max-width:850px) {
    .abt_box{
        flex-direction: column-reverse;
    }
    .abt_box .image , .rt-content{
        width: 100%;
        text-align: justify;
    }
    .abt-btns{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
@media screen and (max-width:600px) {
    .responsive_menu{
        display: block;
    }
    .responsive_menu i{
        font-size: 1.8rem;
        color: red;
        cursor: pointer;
    }
    .menu_list{
        display: none;
    }
}
@media screen and (max-width:455px){
    .menu_card, .burger_image{
        width: 100%;
    }
    .burger_image{
        height: auto;
    }
}
@media screen and (max-width:270px) {
    .menu_card ,.burger_image{
        width: 100%;
    }
}